parameters:
	ssl: on

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
	scanDirs: off


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter(%ssl%)

	- App\Filters\Datum

	nette.latteFactory:
		setup:
			- addFilter('datum', [@App\Filters\Datum, filter])