parameters:
	ssl: on

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
	scanDirs: off


session:
	expiration: 14 days


services:
	- App\Router\RouterFactory(%ssl%)
	- App\Filters\Date

	router: [@App\Router\RouterFactory, create]

	nette.latteFactory:
		setup:
			- addFilter('datum', [@App\Filters\Date, filter])
