<!DOCTYPE HTML>
<html>
	<head itemscope itemtype="http://schema.org/WebSite">
		<title itemprop="name">Milan Pála</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{$basePath}/css/main.css" />
		<link rel="canonical" n:href="//:Personal:Homepage:default" itemprop="url">
	</head>
	<body>

		<!-- Google Tag Manager -->
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-P463JL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<script src="{$basePath}/js/gtm.js"></script>
		<!-- End Google Tag Manager -->

		<div id="page-wrapper">
				{include content}
		</div>
		<!-- Scripts -->
		<script src="{$basePath}/js/bundle.js"></script>
	</body>
</html>
