{block content}

<h2><a name="ustitrojboj" id="ustitrojboj"></a>Sprintérský trojboj</h2>
<div class="obsah">

	<dl>
		<dt>místo konání</dt><dd>Ústí nad Labem</dd>
		<dt>datum konání</dt><dd>{block|datum}2003-09-28{/block}</dd>
		<dt><a href="http://online.atletika.cz/vysledky.aspx?idk=677&day=&discType=630&discId=23973&hideGoBack=0">oficiální výsledky kategorie</a></dt>
	</dl>

	<h3>60&nbsp;m</h3>
<ul>
	<li>čas: 7,5&nbsp;s</li>
	<li>pořadí v&nbsp;běhu: 1.</li>
</ul>
<h3>100&nbsp;m</h3>
<ul>
	<li>čas: 12,0&nbsp;s</li>
	<li>pořadí v&nbsp;běhu: 2.</li>
</ul>
<h3>200&nbsp;m</h3>
<ul>
	<li>čas: 25,3 s</li>
	<li>pořadí v běhu: 2.</li>
</ul>


</div>

<h2><a name="bilina4" id="bilina4"></a>4. kolo KP družstev mužů a&nbsp;žen</h2>
<div class="obsah">

	<dl>
		<dt>místo konání</dt><dd>Bílina</dd>
		<dt>datum konání</dt><dd>{block|datum}2003-09-13{/block}</dd>
	</dl>

	<h3>100&nbsp;m, rozběh</h3>
<ul>
	<li>čas: 12,17&nbsp;s</li>
	<li>pořadí v&nbsp;běhu: 1.</li>
</ul>
<h3>100&nbsp;m, finále</h3>
<ul>
	<li>čas: 12,20 s</li>
	<li>vítr: +1,1 m/s</li>
	<li>celkové pořadí: 3.</li>
</ul>
<h3>200&nbsp;m, běh</h3>
<ul>
	<li>čas: 26,13&nbsp;s</li>
	<li>vítr: -1,7&nbsp;m/s</li>
	<li>pořadí v&nbsp;běhu: 2.</li>
</ul>

</div>

<h2><a name="bilina_polytan4" id="bilina_polytan4"></a>4. bílinský polytan</h2>
<div class="obsah">

	<dl>
		<dt>místo konání</dt><dd>Bílina</dd>
		<dt>datum konání</dt><dd>{block|datum}2003-08-26{/block}</dd>
	</dl>

	<h3>100&nbsp;m, běh 2</h3>
<ul>
	<li>čas: 12,02&nbsp;s</li>
	<li>vítr: +2,9 m/s</li>
	<li>pořadí v&nbsp;běhu: 3.</li>
	<li><a href="http://online.atletika.cz/vysledky.aspx?discId=22413&idk=752">oficiální výsledky disciplíny</a></li>
</ul>
</div>

<h2><a name="bilina_polytan3" id="bilina_polytan3"></a>3. bílinský polytan</h2>
<div class="obsah">

	<dl>
		<dt>místo konání</dt><dd>Bílina</dd>
		<dt>datum konání</dt><dd>{block|datum}2003-08-19{/block}</dd>
	</dl>

	<h3>100&nbsp;m, běh 2</h3>
<ul>
	<li>čas: 12,12&nbsp;s</li>
	<li>vítr: +1,7 m/s</li>
	<li>pořadí v&nbsp;běhu: 3.</li>
	<li><a href="http://online.atletika.cz/vysledky.aspx?discId=20157&idk=745">oficiální výsledky disciplíny</a></li>
</ul>
</div>

<h2><a name="bilina_kraj" id="bilina_kraj"></a>Krajský přebor mužů a&nbsp;žen na dráze</h2>
<div class="obsah">

	<dl compact="compact" class="compact">
		<dt>místo konání</dt><dd>Bílina</dd>
		<dt>datum konání</dt><dd>{block|datum}2003-06-14{/block}</dd>
	</dl>
	<h3>100&nbsp;m, rozběh</h3>
<ul>
	<li>čas: 12,05&nbsp;s</li>
	<li>pořadí v&nbsp;běhu: 4.</li>
	<li><a href="http://online.atletika.cz/vysledky.aspx?discId=17740&idk=771">oficiální výsledky disciplíny</a></li>
</ul>

</div>

<h2><a name="bilina3" id="bilina3"></a>3. kolo KP družstev mužů a&nbsp;žen</h2>
<div class="obsah">

	<dl compact="compact" class="compact">
		<dt>místo konání</dt><dd>Bílina</dd>
		<dt>datum konání</dt><dd>{block|datum}2003-06-08{/block}</dd>
	</dl>
	<h3>100&nbsp;m, rozběh</h3>
<ul>
	<li>čas: 12,53&nbsp;s</li>
	<li>pořadí v&nbsp;běhu: 1.</li>
</ul>
<h3>100&nbsp;m, finále</h3>
<ul>
	<li>čas: 12,05 s</li>
	<li>vítr: +1,1 m/s</li>
	<li>pořadí: 3.</li>
</ul>
<h3>200&nbsp;m, běh</h3>
<ul>
	<li>čas: 24,91&nbsp;s</li>
	<li>vítr: -1,7&nbsp;m/s</li>
	<li>pořadí v&nbsp;běhu: 2.</li>
</ul>

</div>

<h2><a name="louny2" id="louny2"></a>2. kolo KP družstev mužů a&nbsp;žen</h2>
<div class="obsah">

	<dl compact="compact" class="compact">
		<dt>místo konání</dt><dd>Louny</dd>
		<dt>datum konání</dt><dd>{block|datum}2003-06-01{/block}</dd>
	</dl>
	<h3>100&nbsp;m, finále</h3>
<ul>
	<li>čas: 11,5 s (měřeno ručně) (<a href="{plink records}#100">osobák</a>)</li>
	<li>pořadí: 1.</li>
</ul>
<h3>200&nbsp;m, běh</h3>
<ul>
	<li>čas: 25,3&nbsp;s</li>
	<li>pořadí v&nbsp;běhu: 1.</li>
</ul>

</div>

<h2><a name="bilina_kraj_dorost" id="bilina_kraj_dorost"></a>Krajský přebor dorostu na dráze</h2>
<div class="obsah">

	<dl compact="compact" class="compact">
		<dt>místo konání</dt><dd>Bílina</dd>
		<dt>datum konání</dt><dd>{block|datum}2003-05-24{/block}</dd>
	</dl>
	<h3>100&nbsp;m, rozběh</h3>
<ul>
	<li>čas: 11,84&nbsp;s (<a href="{plink records}#100">osobák</a>)</li>
	<li>pořadí v&nbsp;běhu: 2.</li>
	<li><a href="http://online.atletika.cz/vysledky.aspx?discId=10949&idk=760">oficiální výsledky disciplíny</a></li>
</ul>
<h3>100&nbsp;m, finále</h3>
<ul>
	<li>čas: 12,19&nbsp;s</li>
	<li>pořadí: 5.</li>
	<li><a href="http://online.atletika.cz/vysledky.aspx?discId=10953&idk=760">oficiální výsledky disciplíny</a></li>
</ul>

</div>

<h2><a name="bilina1" id="bilina1"></a>1. kolo KP družstev mužů a&nbsp;žen</h2>
<div class="obsah">

	<dl compact="compact" class="compact">
		<dt>místo konání</dt><dd>Bílina</dd>
		<dt>datum konání</dt><dd>{block|datum}2003-05-18{/block}</dd>
	</dl>
	<h3>100&nbsp;m, rozběh</h3>
<ul>
	<li>čas: 12,58&nbsp;s</li>
	<li>pořadí v&nbsp;běhu: 1.</li>
</ul>
<h3>100&nbsp;m, finále</h3>
<ul>
	<li>čas: 11,99 s (<a href="{plink records}#100">osobák</a>)</li>
	<li>vítr: +0,4 m/s</li>
	<li>pořadí: 1.</li>
</ul>
<h3>200&nbsp;m, běh</h3>
<ul>
	<li>čas: 24,96&nbsp;s (<a href="{plink records}#200">osobák</a>)</li>
	<li>pořadí v&nbsp;běhu: 3.</li>

</ul>

</div>

<h2><a name="bilina_zahajovacky" id="bilina_zahajovacky"></a>Zahajovací závody</h2>
<div class="obsah">

	<dl compact="compact" class="compact">
		<dt>místo konání</dt><dd>Bílina</dd>
		<dt>datum konání</dt><dd>{block|datum}2003-04-26{/block}</dd>
	</dl>
	<h3>60&nbsp;m, běh 2</h3>
<ul>
	<li>čas: 7,59&nbsp;s (<a href="{plink records}#60">osobák</a>)</li>
	<li>vítr: +1,4 m/s</li>
	<li>pořadí v&nbsp;běhu: 2.</li>
	<li><a href="http://online.atletika.cz/vysledky.aspx?discId=7822&idk=722">oficiální výsledky disciplíny</a></li>
</ul>

</div>
