{block content}

<div class="obsah">

<h2>60&nbsp;m</h2>
<ol>
  <li>7,59&nbsp;s - <a href="{plink year, 2003}#bilina_zahajovacky" title="Detail závodů">Zahajovací závody 2003</a></li>
</ol>

<h2>100&nbsp;m</h2>
<ol>
  <li>11,70&nbsp;s - <a href="{plink year, 2005}#kladno" title="Detail závodů">3. kolo II. ligy mužů a&nbsp;žen skupina A v&nbsp;Kladně 2005</a></li>
  <li>11,84&nbsp;s - <a href="{plink year, 2003}#bilina_kraj_dorost" title="Detail závodů">Krajský přebor dorostu na dráze v&nbsp;Bílině 2003</a></li>
  <li>11,99&nbsp;s - <a href="{plink year, 2003}#bilina1" title="Detail závodů">1. kolo KP družstev mužů a&nbsp;žen v&nbsp;Bílině 2003</a></li>
</ol>

<h4>Neregulérní</h4>
<ul>
  <li>11,5&nbsp;s - <a href="{plink year, 2003}#louny2" title="Detail závodů">2. kolo KP družstev mužů a&nbsp;žen v&nbsp;Lounech 2003</a> (měřeno ručně)</li>
</ul>

<h2>200&nbsp;m</h2>
<ol>
  <li>24,11&nbsp;s - <a href="{plink year, 2005}#mboleslav" title="Detail závodů">2. kolo II. ligy mužů a&nbsp;žen skupina A v&nbsp;Mladé Boleslavi 2005</a></li>
  <li>24,91&nbsp;s - <a href="{plink year, 2003}#bilina3" title="Detail závodů">3. kolo KP družstev mužů a&nbsp;žen v&nbsp;Bílině 2003</a></li>
  <li>24,96&nbsp;s - <a href="{plink year, 2003}#bilina1" title="Detail závodů">1. kolo KP družstev mužů a&nbsp;žen v&nbsp;Bílině 2003</a></li>
</ol>

<h4>Neregulérní</h4>
<ul>
  <li>24,04&nbsp;s - <a href="{plink year, 2005}#kladno" title="Detail závodů">3. kolo II. ligy mužů a&nbsp;žen skupina A v&nbsp;Kladně 2005</a> (vítr +2,4 m/s)</li>
</ul>

</div>
